Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey

Added sheet vs drawing check to clear measurments btn visibility
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

change readme
  README.md
Owners: @itwin/viewer-components-reviewers

rush update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

signin fix
  packages/itwin/ec3-widget/src/components/EC3.tsx
  packages/itwin/ec3-widget/src/components/EC3/EC3AuthCallback.ts
  packages/itwin/ec3-widget/src/components/EC3/EC3Config.ts
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/ec3-widget-react.ts
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
  packages/itwin/ec3-widget/src/widget/EC3Widget.tsx
Owners: @itwin/viewer-components-reviewers

update isHidden logic for clear measure tool, update appui-abstract import
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

[measurement-tools] Hide Measurement Tools from toolbars when view is a sheet view. (#336)
  common/changes/@itwin/measure-tools-react/fix-hide-msmt-tools-sheet-view_2022-10-21-16-40.json
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/povilas-querybuilder-remove-query-join-duplication_2022-10-19-13-27.json
  common/changes/@itwin/measure-tools-react/fix-hide-msmt-tools-sheet-view_2022-10-21-16-40.json
  common/changes/@itwin/reports-config-widget-react/dataset-updating-from-reports-page_2022-09-23-10-31.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

Add listeners to other quantityFormatter events.
  packages/itwin/measure-tools/src/api/MeasurementManager.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Rush change
  common/changes/@itwin/measure-tools-react/task-add-quantity-formatter-listeners_2022-11-01-17-46.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

test revision
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/components/utils.tsx
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
Owners: @itwin/viewer-components-reviewers

template menu reorganization
  packages/itwin/ec3-widget/src/components/TemplateMenu.scss
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

label page rearanged
  packages/itwin/ec3-widget/src/components/DropdownTile.scss
  packages/itwin/ec3-widget/src/components/LabelAction.scss
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
Owners: @itwin/viewer-components-reviewers

Don't show perpendicular tool when viewing a drawing
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Moved to tool definitions so it's reactive to view state changes
  packages/itwin/measure-tools/src/tools/MeasureToolDefinitions.ts
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change
  common/changes/@itwin/measure-tools-react/fix-rmv-perp-distance-from-drawings_2022-11-03-19-44.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

max width for title, dev insights client
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/utils.scss
Owners: @itwin/viewer-components-reviewers

lint fixes (only hook dependencies left)
  packages/itwin/ec3-widget/src/components/DeleteModal.tsx
  packages/itwin/ec3-widget/src/components/DropdrownTile.tsx
  packages/itwin/ec3-widget/src/components/EC3.tsx
  packages/itwin/ec3-widget/src/components/EC3/EC3AuthCallback.ts
  packages/itwin/ec3-widget/src/components/EC3/EC3Config.ts
  packages/itwin/ec3-widget/src/components/EC3/EC3TokenCache.ts
  packages/itwin/ec3-widget/src/components/ExportModal.tsx
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/LabelActionPanel.tsx
  packages/itwin/ec3-widget/src/components/LabelTile.tsx
  packages/itwin/ec3-widget/src/components/ReportConfirmModal.tsx
  packages/itwin/ec3-widget/src/components/Template.ts
  packages/itwin/ec3-widget/src/components/TemplateClient.ts
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/components/api/EC3ConfigurationClient.ts
  packages/itwin/ec3-widget/src/components/api/EC3JobClient.ts
  packages/itwin/ec3-widget/src/components/api/custom.d.ts
  packages/itwin/ec3-widget/src/components/utils.tsx
  packages/itwin/ec3-widget/src/ec3-widget-react.ts
  packages/itwin/ec3-widget/src/hooks/useValidator.ts
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
  packages/itwin/ec3-widget/src/test/metadataSample.tsx
  packages/itwin/ec3-widget/src/widget/EC3Widget.tsx
Owners: @itwin/viewer-components-reviewers

reports widget extraction workflow update
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/public/locales/en/ReportsConfigWidget.json
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/RunningExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.scss
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappingHorizontalTile.scss
  packages/itwin/reports-config-widget/src/widget/components/ReportMappingHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

changes added. pnpm-lock file updated
  common/changes/@itwin/reports-config-widget-react/reports-widget-extraction-workflow_2022-11-07-12-36.json
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Fix query builder cross references + tests
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/MockFactory.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.testdata.json
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilderTestData.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
  packages/itwin/grouping-mapping-widget/tsconfig.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Extraction status delay fixed. OData URL added to toast
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/public/locales/en/ReportsConfigWidget.json
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/Constants.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionToast.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappingHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Tests fixed. ReportMapping test delay time extended
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/widget/components/Constants.ts
  packages/itwin/reports-config-widget/src/widget/components/ReportMappingHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Toast text updated
  packages/itwin/reports-config-widget/src/widget/components/ExtractionToast.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Old Extraction component removed
  packages/itwin/reports-config-widget/src/widget/components/Extraction.scss
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

BulkExtraction public functions renamed
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionToast.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Fix query builder cross references in query
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/MockFactory.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.testdata.json
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilderTestData.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
  packages/itwin/grouping-mapping-widget/tsconfig.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Change log
  common/changes/@itwin/grouping-mapping-widget/povilas-fix-querybuilder-query-cross-references_2022-11-09-07-43.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

PR comment fixes
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.testdata.json
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.testdata.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilderTestData.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
  packages/itwin/grouping-mapping-widget/tsconfig.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Added report table selector component
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/ReportTableSelector.scss
  packages/itwin/ec3-widget/src/components/ReportTableSelector.tsx
Owners: @itwin/viewer-components-reviewers

rush change
  common/changes/@itwin/ec3-widget-react/ec3-fork_2022-11-10-13-14.json
  common/config/rush/version-policies.json
Owners: @itwin/viewer-components-reviewers

readme info on setup
  packages/itwin/ec3-widget/README.md
  packages/itwin/ec3-widget/src/components/EC3/EC3AuthCallback.ts
Owners: @itwin/viewer-components-reviewers

remove dev from clients
  packages/itwin/ec3-widget/src/components/ReportTableSelector.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/api/EC3ConfigurationClient.ts
  packages/itwin/ec3-widget/src/components/api/EC3JobClient.ts
Owners: @itwin/viewer-components-reviewers

PR fixes
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.testdata.ts
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilderTestData.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

refresh after deletion, handle no reportMappings
  packages/itwin/ec3-widget/src/components/DeleteModal.tsx
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/ReportTableSelector.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.tsx
Owners: @itwin/viewer-components-reviewers

Removing white space
  packages/itwin/measure-tools/src/tools/MeasureToolDefinitions.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Check for is2d and not isDrawingView
  packages/itwin/measure-tools/src/tools/MeasureToolDefinitions.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Remove whitespace again.
  packages/itwin/measure-tools/src/tools/MeasureToolDefinitions.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

first Mindaugas comment batch fix
  common/config/rush/pnpm-lock.yaml
  packages/itwin/ec3-widget/package.json
  packages/itwin/ec3-widget/src/components/DeleteModal.scss
  packages/itwin/ec3-widget/src/components/DeleteModal.tsx
  packages/itwin/ec3-widget/src/components/DropdownTile.scss
  packages/itwin/ec3-widget/src/components/DropdrownTile.tsx
  packages/itwin/ec3-widget/src/components/EC3.tsx
  packages/itwin/ec3-widget/src/components/ExportModal.scss
  packages/itwin/ec3-widget/src/components/ExportModal.tsx
  packages/itwin/ec3-widget/src/components/HorizontalTile.scss
  packages/itwin/ec3-widget/src/components/HorizontalTile.tsx
  packages/itwin/ec3-widget/src/components/LabelAction.scss
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/LabelActionPanel.scss
  packages/itwin/ec3-widget/src/components/LabelActionPanel.tsx
  packages/itwin/ec3-widget/src/components/LabelTile.scss
  packages/itwin/ec3-widget/src/components/LabelTile.tsx
  packages/itwin/ec3-widget/src/components/ReportConfirmModal.tsx
  packages/itwin/ec3-widget/src/components/ReportTableSelector.scss
  packages/itwin/ec3-widget/src/components/ReportTableSelector.tsx
  packages/itwin/ec3-widget/src/components/SearchBar.scss
  packages/itwin/ec3-widget/src/components/SearchBar.tsx
  packages/itwin/ec3-widget/src/components/TemplateActionPanel.scss
  packages/itwin/ec3-widget/src/components/TemplateActionPanel.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.scss
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.scss
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/components/utils.scss
  packages/itwin/ec3-widget/src/components/utils.tsx
Owners: @itwin/viewer-components-reviewers

prefix prop to change environment, insights client update
  common/config/rush/pnpm-lock.yaml
  packages/itwin/ec3-widget/package.json
  packages/itwin/ec3-widget/src/components/EC3.tsx
  packages/itwin/ec3-widget/src/components/EC3/EC3Config.ts
  packages/itwin/ec3-widget/src/components/ExportModal.tsx
  packages/itwin/ec3-widget/src/components/ReportTableSelector.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/components/api/EC3ConfigurationClient.ts
  packages/itwin/ec3-widget/src/components/api/EC3JobClient.ts
  packages/itwin/ec3-widget/src/components/api/context/EC3ConfigurationClientContext.ts
  packages/itwin/ec3-widget/src/components/api/context/EC3JobClientContext.ts
  packages/itwin/ec3-widget/src/components/api/context/ODataClientContext.ts
  packages/itwin/ec3-widget/src/components/api/context/ReportsClientContext.ts
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
Owners: @itwin/viewer-components-reviewers
