Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

rush update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

[G&M] Context Custom UI (#322)
  common/changes/@itwin/grouping-mapping-widget/gm-context-uiProvider_2022-09-21-20-18.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/__mocks__/fileMock.js
  packages/itwin/grouping-mapping-widget/assets/ClashDetectionContextMenuItem.jpg
  packages/itwin/grouping-mapping-widget/assets/ProcessGroupingMenuItem.jpg
  packages/itwin/grouping-mapping-widget/jest.config.js
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/WidgetHeader.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/test-utils.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingCustomUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingCustomUI.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingCustomUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingCustomUI.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fixed ellipses text and changed property tile
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

undo
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix overflow issue
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

change
  common/changes/@itwin/grouping-mapping-widget/text-overflow-fix_2022-09-26-02-17.json
  common/changes/@itwin/reports-config-widget-react/text-overflow-fix_2022-09-26-02-17.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

sort
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

git hook betrayed me
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

brought back prefix
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

comments
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SortableHorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Add launch config to properly debug tests in measure-tools.
  .vscode/launch.json
  packages/itwin/measure-tools/certa.json
  packages/itwin/measure-tools/package.json
  packages/itwin/measure-tools/webpack.config.js
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Add unit tests for FormatterUtils. Changed minute/second symbol to match the one used in IModelApp.quantityFormatter
  packages/itwin/measure-tools/src/api/FormatterUtils.ts
  packages/itwin/measure-tools/src/test/measure-tools/FormatterUtils.test.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Rush change
  common/changes/@itwin/measure-tools-react/task-add-formatter-tests_2022-09-26-13-04.json
  packages/itwin/measure-tools/src/test/measure-tools/FormatterUtils.test.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

comment-fixes
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.scss
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.scss
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
  packages/itwin/reports-config-widget/src/widget/components/SearchBar.scss
  packages/itwin/reports-config-widget/src/widget/components/SearchBar.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

[measure-tools] support global origin (#325)
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-14-37.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-14-47.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-16-58.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-17-50.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-19-18.json
  packages/itwin/measure-tools/src/api/Measurement.ts
  packages/itwin/measure-tools/src/api/MeasurementManager.ts
  packages/itwin/measure-tools/src/measurements/AngleMeasurement.ts
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
  packages/itwin/measure-tools/src/measurements/LocationMeasurement.ts
  packages/itwin/measure-tools/src/ui-2.0/MeasurementPropertyWidget.tsx
  packages/itwin/measure-tools/src/widgets/MeasurementWidget.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/gm-context-uiProvider_2022-09-21-20-18.json
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-08-17-22-15.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-14-37.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-14-47.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-16-58.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-17-50.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-19-18.json
  common/changes/@itwin/one-click-lca-react/insights-update-oclca_2022-08-31-11-10.json
  common/changes/@itwin/one-click-lca-react/oclca-peer-dependencies_2022-09-21-20-46.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
  packages/itwin/one-click-lca-widget/CHANGELOG.json
  packages/itwin/one-click-lca-widget/CHANGELOG.md
  packages/itwin/one-click-lca-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

use absolute path to fix npm publish note
  packages/itwin/grouping-mapping-widget/README.md
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add grouping custom UI test
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add context custom ui test suite
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyUtils.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Add EC3 OIDC auth implmenentation
  packages/itwin/ec3-widget/public/logo/EC3Logo.png
  packages/itwin/ec3-widget/src/components/EC3/EC3AuthCallback.ts
  packages/itwin/ec3-widget/src/components/EC3/EC3Client.ts
  packages/itwin/ec3-widget/src/components/EC3/EC3Config.ts
  packages/itwin/ec3-widget/src/components/EC3/EC3TokenCache.ts
  packages/itwin/ec3-widget/src/components/EC3/index.ts
  packages/itwin/ec3-widget/src/components/ExportModal.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

Create properties-refactor_2022-09-27-13-51.json
  common/changes/@itwin/grouping-mapping-widget/properties-refactor_2022-09-27-13-51.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] Properties Refactor (#318)
  common/changes/@itwin/grouping-mapping-widget/properties-refactor_2022-09-27-13-51.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SortableHorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Lint error fixed
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.tsx
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/properties-refactor_2022-09-27-13-51.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[ReportingWidgets] Fixed text overflow (#327)
  common/changes/@itwin/grouping-mapping-widget/text-overflow-fix_2022-09-26-02-17.json
  common/changes/@itwin/reports-config-widget-react/text-overflow-fix_2022-09-26-02-17.json
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/BlockingOverlay.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/text-overflow-fix_2022-09-26-02-17.json
  common/changes/@itwin/reports-config-widget-react/text-overflow-fix_2022-09-26-02-17.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Updated view zoom behaviour when clicking on sensor markers
  packages/itwin/infrastructure-iot/src/components/markers/DeviceMarker.ts
Owners: @itwin/viewer-components-reviewers, @AntonAI, @jpferrara, @adamjhickey

fix comments and add test
  common/changes/@itwin/grouping-mapping-widget/gm-test_2022-10-02-17-37.json
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Fixed formatting in comments
  packages/itwin/infrastructure-iot/src/components/partials/MetricParamSelectForm.tsx
  packages/itwin/infrastructure-iot/src/components/partials/MetricSelectForm.tsx
  packages/itwin/infrastructure-iot/src/services/imodel/IModelSettingsService.ts
  packages/itwin/infrastructure-iot/src/services/observations/MetricService.ts
  packages/itwin/infrastructure-iot/src/services/observations/ObservationService.ts
Owners: @itwin/viewer-components-reviewers, @AntonAI, @jpferrara, @adamjhickey

Lint errors for UI fixed. PR comments fixed. Each extraction state moved to separate folder
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/Constants.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/FailedExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/FetchingUpdateExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/QueuedExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/RunningExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/StartingExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/SucceededExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.tsx
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Failing unit test fixed
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Formatting fixed
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Added .editorconfig file
  .editorconfig
Owners: @itwin/viewer-components-reviewers

Added change file
  common/changes/@itwin/infrastructure-iot-react/bug-infrastructure-iot-marker-zoom-fix_2022-10-05-20-39.json
Owners: @itwin/viewer-components-reviewers, @AntonAI, @jpferrara, @adamjhickey

Infrastructure Iot - Improved view zoom behavior (#331)
  .editorconfig
  common/changes/@itwin/infrastructure-iot-react/bug-infrastructure-iot-marker-zoom-fix_2022-10-05-20-39.json
  packages/itwin/infrastructure-iot/src/components/markers/DeviceMarker.ts
  packages/itwin/infrastructure-iot/src/components/partials/MetricParamSelectForm.tsx
  packages/itwin/infrastructure-iot/src/components/partials/MetricSelectForm.tsx
  packages/itwin/infrastructure-iot/src/services/imodel/IModelSettingsService.ts
  packages/itwin/infrastructure-iot/src/services/observations/MetricService.ts
  packages/itwin/infrastructure-iot/src/services/observations/ObservationService.ts
Owners: @itwin/viewer-components-reviewers, @AntonAI, @jpferrara, @adamjhickey

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
