Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

Bugfix/distance measurement ray3d (#301)
  common/changes/@itwin/measure-tools-react/bugfix-distanceMeasurementRay3d_2022-08-03-03-43.json
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Bump versions [skip ci]
  common/changes/@itwin/measure-tools-react/bugfix-distanceMeasurementRay3d_2022-08-03-03-43.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

remove zoom on individual visibility change
  common/changes/@itwin/grouping-mapping-widget/gm-zoom_2022-08-03-19-14.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Using disableUnifiedSelection property in FilteringPropertyGrid
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Rush change
  common/changes/@itwin/property-grid-react/fix-empty-props-toggle-broken-multiselect_2022-08-03-20-00.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

[ReportsConfig] Missing dep (#302)
  common/changes/@itwin/reports-config-widget-react/missing-dep_2022-08-03-06-22.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Renamed filtering property grid
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

undo style change
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Created seperate FilteringPropertyGrid and FilteringPropertyGridWithUnifiedSelection
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Updated change log to reflect comment fixes
  common/changes/@itwin/property-grid-react/fix-empty-props-toggle-broken-multiselect_2022-08-03-20-00.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

variables and labels renamed according to requirements. Warnings are being fixed
  src/components/DataSelector.tsx
  src/components/DropdownTile.scss
  src/components/DropdrownTile.tsx
  src/components/Items.tsx
  src/components/LabelAction.scss
  src/components/LabelAction.tsx
  src/components/LabelTile.scss
  src/components/LabelTile.tsx
  src/components/ReportConfirmModal.tsx
  src/components/Reports.tsx
  src/components/SearchBar.scss
  src/components/SearchBar.tsx
  src/components/Template.tsx
  src/components/TemplateMenu.scss
  src/components/TemplateMenu.tsx
  src/components/Templates.scss
  src/components/Templates.tsx
  src/components/selectorClient.tsx
  src/components/templateClient.tsx
  src/components/utils.scss
  src/components/viewerUtils.tsx
Owners: @itwin/viewer-components-reviewers

Lint issues
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

property-grid-react: Fix broken show/hide empty values toggle when multiple elements selected. (#303)
  common/changes/@itwin/property-grid-react/fix-empty-props-toggle-broken-multiselect_2022-08-03-20-00.json
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Bump versions [skip ci]
  common/changes/@itwin/property-grid-react/fix-empty-props-toggle-broken-multiselect_2022-08-03-20-00.json
  common/changes/@itwin/reports-config-widget-react/missing-dep_2022-08-03-06-22.json
  packages/itwin/property-grid/CHANGELOG.json
  packages/itwin/property-grid/CHANGELOG.md
  packages/itwin/property-grid/package.json
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

optimized key generation added missing dev dep
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/viewerUtils.tsx
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changes
  common/changes/@itwin/grouping-mapping-widget/hilite-optimization_2022-08-05-07-10.json
  common/changes/@itwin/reports-config-widget-react/hilite-optimization_2022-08-05-07-10.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update viewerUtils.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/viewerUtils.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

removed dep
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

for await
  packages/itwin/grouping-mapping-widget/src/widget/components/viewerUtils.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

table index error fixed. Save and cancel icons added
  src/components/ActionPanel.tsx
  src/components/LabelAction.tsx
  src/components/TemplateActionPanel.tsx
  src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

lint
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping & Mapping] Remove zoom effect on visual toggle of individual group (#300)
  common/changes/@itwin/grouping-mapping-widget/gm-zoom_2022-08-03-19-14.json
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] Hilite optimization (#304)
  common/changes/@itwin/grouping-mapping-widget/hilite-optimization_2022-08-05-07-10.json
  common/changes/@itwin/reports-config-widget-react/hilite-optimization_2022-08-05-07-10.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/viewerUtils.tsx
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/gm-zoom_2022-08-03-19-14.json
  common/changes/@itwin/grouping-mapping-widget/hilite-optimization_2022-08-05-07-10.json
  common/changes/@itwin/reports-config-widget-react/hilite-optimization_2022-08-05-07-10.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

merge
  common/config/rush/pnpm-lock.yaml
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/viewerUtils.tsx
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
  packages/itwin/measure-tools/src/tools/MeasureLocationTool.ts
  packages/itwin/property-grid/CHANGELOG.json
  packages/itwin/property-grid/CHANGELOG.md
  packages/itwin/property-grid/package.json
  packages/itwin/property-grid/src/api/ShowNullValuesPreferenceClient.ts
  packages/itwin/property-grid/src/components/FilteringPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/widget/components/Extraction.scss
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @JValiunas, @DanishMehmood-bit, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @simnorm, @a-gagnon, @bsy-nicholasw, @JoeZman, @aruniverse, @diegopinate

some merge conflicts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

configuration so tests can run and everything builds successfully
  packages/itwin/ec3-widget/jest.config.js
  packages/itwin/ec3-widget/package.json
  packages/itwin/ec3-widget/src/components/DropdrownTile.tsx
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

report dropdown test added
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
Owners: @itwin/viewer-components-reviewers

Changed view for mapping
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] Improve Search Bar
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update SelectProject.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Templates table changed
  packages/itwin/ec3-widget/package.json
  packages/itwin/ec3-widget/src/components/HorizontalTile.scss
  packages/itwin/ec3-widget/src/components/HorizontalTile.tsx
  packages/itwin/ec3-widget/src/components/SearchBar.scss
  packages/itwin/ec3-widget/src/components/SearchBar.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.scss
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
  rush.json
Owners: @itwin/viewer-components-reviewers

Update Mapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Search bar and group by updated
  common/changes/@itwin/grouping-mapping-widget/mapping-new-search-bar_2022-08-11-00-07.json
  common/changes/@itwin/grouping-mapping-widget/mapping-new-search-bar_2022-08-11-00-08.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update SelectProject.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] Improve Search Bar (#306)
  common/changes/@itwin/grouping-mapping-widget/mapping-new-search-bar_2022-08-11-00-07.json
  common/changes/@itwin/grouping-mapping-widget/mapping-new-search-bar_2022-08-11-00-08.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

more tests added, mapping fetch refactored
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/test/Templates.test.tsx
Owners: @itwin/viewer-components-reviewers

Redundant files deleted
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  tsconfig.json
Owners: @itwin/viewer-components-reviewers

Loading and adding group resize fix
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
