Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

fix custom providers display label
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush install
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

Changes Made: - Added the change for setting up defaultTree from the viewer component - Updated the naming for "model" : "models"
  packages/itwin/tree-widget/public/locales/en/TreeWidget.json
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Updates: - Updated the "modelstree": "models" - Added the constants for the trees id - Updated the logic for setting up the defaultTree
  packages/itwin/tree-widget/public/locales/en/TreeWidget.json
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Fixed the formatting
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Added missing ";"
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Update Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Updated the code format for better readability.
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Updated "extractedDefaultTreeId" to extractedDefaultTree
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

fix linter
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Added the rush change command result for test failure fix.
  common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Update common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
  common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Update common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
  common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Updated the comment, type and the naming of "defaultTree" to "defaultTreeId"
  common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Update packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Fixed the ESLint errors
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Setup DefaultTree for TreeView: (#321)
  common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
  packages/itwin/tree-widget/public/locales/en/TreeWidget.json
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/black-box-around-group-color_2022-08-25-18-03.json
  common/changes/@itwin/grouping-mapping-widget/insights-update-grouping_2022-09-01-11-48.json
  common/changes/@itwin/reports-config-widget-react/insights-client-update-reporting_2022-08-29-07-08.json
  common/changes/@itwin/tree-widget-react/jaykumarpatel-defaultTree-view_2022-09-12-18-17.json
  common/changes/@itwin/tree-widget-react/publish-1653914650499_2022-06-01-18-05.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
  packages/itwin/tree-widget/CHANGELOG.json
  packages/itwin/tree-widget/CHANGELOG.md
  packages/itwin/tree-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JoeZman, @diegopinate, @aruniverse

Update Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix comments
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

physical material and props
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

format
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

some eslint exploration
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add context UI provider and callback
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/CustomUIProvider.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIComponent.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIComponent.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

made it more unique
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add tests
  packages/itwin/grouping-mapping-widget/__mocks__/fileMock.js
  packages/itwin/grouping-mapping-widget/jest.config.js
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/WidgetHeader.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/test-utils.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/CustomUIProvider.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix import typo
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIComponent.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIComponent.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Remove project fetch
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

Update Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix comments
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-08-17-22-15.json
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/CustomUIProviderContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

UI provider naming changes
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/CustomUIProviderContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/context/GroupingMappingUIProviderContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/GroupingMappingUIProvider.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualGroupingUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualGroupingUI.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchGroupingUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchGroupingUI.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

merge
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/GroupingMappingUIProvider.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualGroupingUI.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

merge
  packages/itwin/grouping-mapping-widget/src/test/test-utils.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add test for group list page
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/GroupUIProvider.test.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Insights update oclca (#317)
  common/changes/@itwin/one-click-lca-react/insights-update-oclca_2022-08-31-11-10.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/one-click-lca-widget/package.json
  packages/itwin/one-click-lca-widget/src/components/ExportModal.tsx
  packages/itwin/one-click-lca-widget/src/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

rename extensible UI to customUI
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-08-17-22-15.json
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/GroupingMappingCustomUIContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingUI.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingUI.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

name changes
  packages/itwin/grouping-mapping-widget/src/widget/components/context/GroupingMappingCustomUIContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
