Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey

Create minor-change-to-group-by-color_2022-08-22-22-35.json
  common/changes/@itwin/grouping-mapping-widget/minor-change-to-group-by-color_2022-08-22-22-35.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

insights client 0.3.0 update
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/IMappingClient.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectMappings.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/MappingClientContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Export GetAccessTokenFn
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Added rush change json
  common/changes/@itwin/grouping-mapping-widget/ExportGetAccessTokenFn_2022-08-23-16-50.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update common/changes/@itwin/grouping-mapping-widget/ExportGetAccessTokenFn_2022-08-23-16-50.json
  common/changes/@itwin/grouping-mapping-widget/ExportGetAccessTokenFn_2022-08-23-16-50.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

bad comment
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupingMapping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

merge
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] Export GetAccessTokenFn (#314)
  common/changes/@itwin/grouping-mapping-widget/ExportGetAccessTokenFn_2022-08-23-16-50.json
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

enums
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectProject.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/ExportGetAccessTokenFn_2022-08-23-16-50.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

split
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

drag and drop
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SortableHorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/HorizontalTile.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

added back modification
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

EC3 configuration client added. Configuration properties renamed
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/Template.ts
  packages/itwin/ec3-widget/src/components/TemplateClient.ts
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/Templates.tsx
  packages/itwin/ec3-widget/src/components/api/EC3ConfigurationClient.ts
  packages/itwin/ec3-widget/src/components/api/cross-fetch/index.d.ts
  packages/itwin/ec3-widget/src/components/api/custom.d.ts
Owners: @itwin/viewer-components-reviewers

border to colors in grouping tab
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Create black-box-around-group-color_2022-08-25-18-03.json
  common/changes/@itwin/grouping-mapping-widget/black-box-around-group-color_2022-08-25-18-03.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

insights client 3.0 update
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/test/Reports.test.tsx
  packages/itwin/reports-config-widget/src/widget/components/AddMappingsModal.tsx
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportAction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

modal
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

test fix
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/test/Reports.test.tsx
  packages/itwin/reports-config-widget/src/test/test-utils.tsx
  packages/itwin/reports-config-widget/src/widget/components/AddMappingsModal.tsx
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportAction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

EC3 jobs client added
  packages/itwin/ec3-widget/src/components/ExportModal.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
  packages/itwin/ec3-widget/src/components/api/EC3ConfigurationClient.ts
Owners: @itwin/viewer-components-reviewers

style
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush changes
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

rush changes
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

rush changelog
  common/changes/@itwin/reports-config-widget-react/insights-client-update-reporting_2022-08-29-07-08.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

EC3 job client added. 404 response for getConfigurations is handled.
  packages/itwin/ec3-widget/src/components/api/EC3ConfigurationClient.ts
  packages/itwin/ec3-widget/src/components/api/EC3JobClient.ts
Owners: @itwin/viewer-components-reviewers

Unecessary imports removed
  packages/itwin/ec3-widget/src/components/api/EC3JobClient.ts
Owners: @itwin/viewer-components-reviewers

update extension documentation
  packages/itwin/grouping-mapping-widget/README.md
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

3.0 to 0.3.0
  common/changes/@itwin/reports-config-widget-react/insights-client-update-reporting_2022-08-29-07-08.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

reporting base path import fix
  packages/itwin/reports-config-widget/src/widget/components/ReportAction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

renaming
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update common/changes/@itwin/grouping-mapping-widget/black-box-around-group-color_2022-08-25-18-03.json
  common/changes/@itwin/grouping-mapping-widget/black-box-around-group-color_2022-08-25-18-03.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] Make black frame for the colors box (#315)
  common/changes/@itwin/grouping-mapping-widget/black-box-around-group-color_2022-08-25-18-03.json
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

update
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

clean up
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

import fix
  packages/itwin/reports-config-widget/src/widget/components/AddMappingsModal.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus
