Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey

[Grouping & Mapping] Group Extension (#297)
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-08-17-22-15.json
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/context/GroupingMappingCustomUIContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingUI.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingUI.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

groupUI test
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/test/GroupUI.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/test-utils.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rename
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingCustomUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/ManualGroupingCustomUI.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingCustomUI.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/SearchGroupingCustomUI.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

comments
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

map instead
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

flatmap
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

GroupingMappingCustomUI test with default setting
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

remote unused package
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

naming and comment fix
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/WidgetHeader.test.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

added peer dependencies
  common/config/rush/pnpm-lock.yaml
  packages/itwin/one-click-lca-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

update
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix comment
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add props to context custom UI
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

bumped down version and removed unneecessary peers
  common/config/rush/pnpm-lock.yaml
  packages/itwin/one-click-lca-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Minor fix for checking if angle is undefined.
  packages/itwin/measure-tools/src/measurements/AngleMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Adjust point coordinates to account for globalOrigin when displaying coordinate values as text.
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
  packages/itwin/measure-tools/src/measurements/LocationMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-14-37.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Make sure we update the measurement widget if the Global origin changes.
  packages/itwin/measure-tools/src/widgets/MeasurementWidget.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change (again!)
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-14-47.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Make sure we refresh existing measurements if the global origin changes.
  packages/itwin/measure-tools/src/api/MeasurementManager.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Fix issue where text maker would 'slide' past the distance measurement line.
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change.
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-16-58.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

write a dedicated 'adjustPointForGlobalOrigin' function.
  packages/itwin/measure-tools/src/api/Measurement.ts
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
  packages/itwin/measure-tools/src/measurements/LocationMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Add listener to onGlobalOriginChanged in ui 2.0
  packages/itwin/measure-tools/src/ui-2.0/MeasurementPropertyWidget.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change.
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-17-50.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

linter issue.
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-19-18.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Update common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-19-18.json
  common/changes/@itwin/measure-tools-react/task-support-global-origin_2022-09-21-19-18.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

fix comments
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/test-utils.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush change
  common/changes/@itwin/grouping-mapping-widget/gm-context-uiProvider_2022-09-21-20-18.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

rush change
  common/changes/@itwin/one-click-lca-react/oclca-peer-dependencies_2022-09-21-20-46.json
  common/changes/@itwin/reports-config-widget-react/oclca-peer-dependencies_2022-09-21-20-46.json
  common/changes/@itwin/tree-widget-react/oclca-peer-dependencies_2022-09-21-20-46.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus, @JoeZman, @diegopinate, @aruniverse

update documentation
  packages/itwin/grouping-mapping-widget/README.md
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Deleted unnecessary files
  common/changes/@itwin/reports-config-widget-react/oclca-peer-dependencies_2022-09-21-20-46.json
  common/changes/@itwin/tree-widget-react/oclca-peer-dependencies_2022-09-21-20-46.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus, @JoeZman, @diegopinate, @aruniverse

fix comments
  common/changes/@itwin/grouping-mapping-widget/gm-context-uiProvider_2022-09-21-20-18.json
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/assets/ClashDetectionContextMenuItem.jpg
  packages/itwin/grouping-mapping-widget/assets/ProcessGroupingMenuItem.jpg
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
  packages/itwin/grouping-mapping-widget/src/test/test-utils.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/customUI/GroupingMappingCustomUI.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rerun test
  packages/itwin/one-click-lca-widget/src/one-click-lca-widget.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

added peer dependencies to one click lca widget (#324)
  common/changes/@itwin/one-click-lca-react/oclca-peer-dependencies_2022-09-21-20-46.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/one-click-lca-widget/package.json
  packages/itwin/one-click-lca-widget/src/one-click-lca-widget.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Datasets can be updated in the Reports page. Reports tiles are now selectable. Search button moved to the right
  common/changes/@itwin/reports-config-widget-react/dataset-updating-from-reports-page_2022-09-23-10-31.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/public/locales/en/ReportsConfigWidget.json
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.scss
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.tsx
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.scss
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
  packages/itwin/reports-config-widget/src/widget/components/SearchBar.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus
