Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey

insights client 0.3.0 update
  common/config/rush/pnpm-lock.yaml
  packages/itwin/one-click-lca-widget/package.json
  packages/itwin/one-click-lca-widget/src/components/ExportModal.tsx
  packages/itwin/one-click-lca-widget/src/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

lint fix
  packages/itwin/one-click-lca-widget/src/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

rush change
  common/changes/@itwin/one-click-lca-react/insights-update-oclca_2022-08-31-11-10.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Icons removed from configuration menu. Report selection is now searchable. Delete button moved.
  packages/itwin/ec3-widget/src/components/LabelAction.scss
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/LabelTile.scss
  packages/itwin/ec3-widget/src/components/LabelTile.tsx
  packages/itwin/ec3-widget/src/components/TemplateActionPanel.tsx
  packages/itwin/ec3-widget/src/components/TemplateMenu.scss
  packages/itwin/ec3-widget/src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

bug fix
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Insights client update reporting widget (#316)
  common/changes/@itwin/reports-config-widget-react/insights-client-update-reporting_2022-08-29-07-08.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/test/Reports.test.tsx
  packages/itwin/reports-config-widget/src/test/test-utils.tsx
  packages/itwin/reports-config-widget/src/widget/components/AddMappingsModal.tsx
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportAction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Update common/changes/@itwin/one-click-lca-react/insights-update-oclca_2022-08-31-11-10.json
  common/changes/@itwin/one-click-lca-react/insights-update-oclca_2022-08-31-11-10.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

optional variable fixes
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/MappingAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/MappingClientContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

rush change
  common/changes/@itwin/grouping-mapping-widget/insights-update-grouping_2022-09-01-11-48.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Saving button disabled when Label is not configured. ReportTable dropdown is now searchable.
  packages/itwin/ec3-widget/src/components/DropdownTile.scss
  packages/itwin/ec3-widget/src/components/DropdrownTile.tsx
  packages/itwin/ec3-widget/src/components/LabelAction.scss
  packages/itwin/ec3-widget/src/components/LabelAction.tsx
  packages/itwin/ec3-widget/src/components/LabelActionPanel.tsx
Owners: @itwin/viewer-components-reviewers

pr comment changes
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changed names
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/ConfirmMappingsImport.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/MappingImportWizardModal.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectMappings.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Insights update grouping and mapping widget (#319)
  common/changes/@itwin/grouping-mapping-widget/insights-update-grouping_2022-09-01-11-48.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/IMappingClient.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CalculatedPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/ConfirmMappingsImport.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/CustomCalculationTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/MappingAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/MappingImportWizardModal.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/PropertyMenu.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/SelectMappings.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/MappingClientContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

merge
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix
  packages/itwin/one-click-lca-widget/src/components/ExportModal.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

custom ui provider rename and default config
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/CustomUIProviderContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/context/GroupExtensionContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIProvider.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIProvider.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIProvider.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIProvider.tsx
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush change
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-09-07-05-13.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix merge misses
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

updated lock
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

brought back modify dropdown
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyTable.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyTable.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

copyright header
  packages/itwin/grouping-mapping-widget/src/widget/components/SortableHorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

description words choice
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIProvider.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changed classnames
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

deal with property merging
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix comments
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/CustomUIProviderContext.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/CustomUIProvider.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIProvider.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIProvider.tsx
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix css naming consistency
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.scss
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changes
  common/changes/@itwin/one-click-lca-react/insights-update-oclca_2022-08-31-11-10.json
  packages/itwin/one-click-lca-widget/src/components/ExportModal.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

pnpm-lock updated
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

pnpm-lock updated
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

pnpm update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

pnpm-lock update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

pnpm update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

falsy to truthy
  packages/itwin/one-click-lca-widget/src/components/ExportModal.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

fix comments
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/CustomUIProvider.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIComponent.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/ManualUIComponent.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIComponent.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/SearchUIComponent.tsx
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

fix comments
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-08-17-22-15.json
  common/changes/@itwin/grouping-mapping-widget/gm-extension_2022-09-07-05-13.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/provider/CustomUIProvider.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus
