Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

fix formula interpreter
  packages/itwin/grouping-mapping-widget/src/formula/InfixToPostfixConverter.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changelog
  common/changes/@itwin/grouping-mapping-widget/mapping-formula-fix_2022-10-07-14-45.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

lint fix
  packages/itwin/grouping-mapping-widget/src/formula/InfixToPostfixConverter.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

resolve comments
  common/changes/@itwin/grouping-mapping-widget/gm-test_2022-10-02-17-37.json
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Mapping formula fix (#332)
  common/changes/@itwin/grouping-mapping-widget/mapping-formula-fix_2022-10-07-14-45.json
  packages/itwin/grouping-mapping-widget/src/formula/InfixToPostfixConverter.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Comments fixed. Extraction status moved to HorizontalTile
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/FailedExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/FetchingUpdateExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/QueuedExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/RunningExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/StartingExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/SucceededExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.scss
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.tsx
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.scss
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

[G&M] Grouping Mapping Widget UI Tests (#329)
  common/changes/@itwin/grouping-mapping-widget/gm-test_2022-10-02-17-37.json
  packages/itwin/grouping-mapping-widget/README.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/GroupingMappingCustomUI.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Failing test fixed
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Update GroupPropertyUtils.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Create key_issue_2022-10-12-22-45.json
  common/changes/@itwin/grouping-mapping-widget/key_issue_2022-10-12-22-45.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyUtils.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update key_issue_2022-10-12-22-45.json
  common/changes/@itwin/grouping-mapping-widget/key_issue_2022-10-12-22-45.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changed seperator
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyUtils.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[G&M] Fixed key issue (#333)
  common/changes/@itwin/grouping-mapping-widget/key_issue_2022-10-12-22-45.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyUtils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Pull request comments fix
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

ReportHorizontalTileProps interface extended. Indentation fixed
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Missing return types and voids added
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Task/add formatter tests (#328)
  .vscode/launch.json
  common/changes/@itwin/measure-tools-react/task-add-formatter-tests_2022-09-26-13-04.json
  packages/itwin/measure-tools/certa.json
  packages/itwin/measure-tools/package.json
  packages/itwin/measure-tools/src/api/FormatterUtils.ts
  packages/itwin/measure-tools/src/test/measure-tools/FormatterUtils.test.ts
  packages/itwin/measure-tools/webpack.config.js
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/gm-test_2022-10-02-17-37.json
  common/changes/@itwin/grouping-mapping-widget/key_issue_2022-10-12-22-45.json
  common/changes/@itwin/grouping-mapping-widget/mapping-formula-fix_2022-10-07-14-45.json
  common/changes/@itwin/infrastructure-iot-react/bug-infrastructure-iot-marker-zoom-fix_2022-10-05-20-39.json
  common/changes/@itwin/infrastructure-iot-react/publish-1654107774616_2022-06-01-18-28.json
  common/changes/@itwin/measure-tools-react/task-add-formatter-tests_2022-09-26-13-04.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/infrastructure-iot/CHANGELOG.json
  packages/itwin/infrastructure-iot/CHANGELOG.md
  packages/itwin/infrastructure-iot/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @AntonAI, @jpferrara, @adamjhickey, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

Remove query duplication on joins
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

support customizing the measure tools widget placement in the MeasureToolsUiProvider
  common/changes/@itwin/measure-tools-react/measurement-uiitemsprovider-customizellocation_2022-10-19-13-26.json
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

change log
  common/changes/@itwin/grouping-mapping-widget/povilas-querybuilder-remove-query-join-duplication_2022-10-19-13-27.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

support customizing the measure tools widget placement in the MeasureToolsUiProvider (#334)
  common/changes/@itwin/measure-tools-react/measurement-uiitemsprovider-customizellocation_2022-10-19-13-26.json
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Bump versions [skip ci]
  common/changes/@itwin/measure-tools-react/measurement-uiitemsprovider-customizellocation_2022-10-19-13-26.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

Fix rush lint errors, PR comment fixes
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

PR comments fix
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Doesn't show Measurement Tools if the view is a sheet view.
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Rush change.
  common/changes/@itwin/measure-tools-react/fix-hide-msmt-tools-sheet-view_2022-10-21-16-40.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Listeners are removed instead of cleared. Bug fixed with multiple job status requests.
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

test timeout increased
  packages/itwin/reports-config-widget/src/test/ReportAction.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

testTimeout is increased in config file, as changing in single test is not working
  packages/itwin/reports-config-widget/jest.config.js
  packages/itwin/reports-config-widget/src/test/ReportAction.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Datasets can be updated in the Reports page. Reports tiles are selectable (#326)
  common/changes/@itwin/reports-config-widget-react/dataset-updating-from-reports-page_2022-09-23-10-31.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/jest.config.js
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/public/locales/en/ReportsConfigWidget.json
  packages/itwin/reports-config-widget/src/widget/components/BulkExtractor.ts
  packages/itwin/reports-config-widget/src/widget/components/Constants.ts
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/FailedExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/QueuedExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/RunningExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/StartingExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStates/SucceededExtractionState.tsx
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.scss
  packages/itwin/reports-config-widget/src/widget/components/ExtractionStatus.tsx
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.scss
  packages/itwin/reports-config-widget/src/widget/components/HorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportHorizontalTile.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportMappings.tsx
  packages/itwin/reports-config-widget/src/widget/components/Reports.scss
  packages/itwin/reports-config-widget/src/widget/components/Reports.tsx
  packages/itwin/reports-config-widget/src/widget/components/SearchBar.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

WIP - pushing a fix that isn't work so Joe can help investigage
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush update
  common/config/rush/pnpm-lock.yaml
Owners: @itwin/viewer-components-reviewers

package.json sort
  packages/itwin/ec3-widget/package.json
Owners: @itwin/viewer-components-reviewers

PR comment fixes
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Povilas/querybuilder remove query join duplication (#335)
  common/changes/@itwin/grouping-mapping-widget/povilas-querybuilder-remove-query-join-duplication_2022-10-19-13-27.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/test/QueryBuilder.test.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/QueryBuilder.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Removed clear measurements event checks in the incorrect isHidden code
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Accidentally removed comma
  packages/itwin/measure-tools/src/ui-2.0/MeasureToolsUiProvider.tsx
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
