Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

fix sub menu on modify
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add validation to manual query
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/ManualQueryComponent.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add callback for extensions
  packages/itwin/grouping-mapping-widget/src/grouping-mapping-widget.ts
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Persist show/hide null value toggle at a user level and not itwin/imodel level
  packages/itwin/property-grid/src/api/ShowNullValuesPreferenceClient.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Rush change
  common/changes/@itwin/property-grid-react/persist-show-hide-null-per-user_2022-07-22-16-49.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Changed from patch to minor fix
  common/changes/@itwin/property-grid-react/persist-show-hide-null-per-user_2022-07-22-16-49.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

fix icon type
  packages/itwin/grouping-mapping-widget/src/widget/utils.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Persist the show/hide null values toggle per user instead of per iModel or iTwin. (#298)
  common/changes/@itwin/property-grid-react/persist-show-hide-null-per-user_2022-07-22-16-49.json
  packages/itwin/property-grid/src/api/ShowNullValuesPreferenceClient.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/group_ordering_by_name_2022-07-13-10-54.json
  common/changes/@itwin/property-grid-react/persist-show-hide-null-per-user_2022-07-22-16-49.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/property-grid/CHANGELOG.json
  packages/itwin/property-grid/CHANGELOG.md
  packages/itwin/property-grid/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JoeZman, @aruniverse, @diegopinate

groups loading and saving fixed
  src/components/GroupAction.tsx
Owners: @itwin/viewer-components-reviewers

Update
  packages/itwin/tree-widget/public/locales/en/TreeWidget.json
  packages/itwin/tree-widget/src/components/header/TreeHeader.tsx
  packages/itwin/tree-widget/src/components/search-bar/FilterBar.scss
  packages/itwin/tree-widget/src/components/search-bar/FilterBar.tsx
  packages/itwin/tree-widget/src/components/search-bar/SearchBar.scss
  packages/itwin/tree-widget/src/components/search-bar/SearchBar.tsx
  packages/itwin/tree-widget/src/components/search-bar/SearchBox.scss
  packages/itwin/tree-widget/src/components/search-bar/SearchBox.tsx
  packages/itwin/tree-widget/src/tree-widget-react.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Update
  packages/itwin/tree-widget/package.json
  packages/itwin/tree-widget/src/components/trees/ModelsTree.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Bugfix/measure location dynamic flag (#296)
  common/changes/@itwin/measure-tools-react/bugfix-measureLocationDynamicFlag_2022-07-19-23-51.json
  packages/itwin/measure-tools/src/tools/MeasureLocationTool.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

fixed comboboxes
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/widget/components/Extraction.scss
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changes
  common/changes/@itwin/grouping-mapping-widget/combobox-fix_2022-07-26-00-37.json
  common/changes/@itwin/reports-config-widget-react/combobox-fix_2022-07-26-00-37.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Add color legends for groups (#293)
  common/changes/@itwin/grouping-mapping-widget/HZ-visibilty_2022-07-08-20-07.json
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

add extendsDefault argument
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Mapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

bump itwinui
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

remove zoom effect on individual visual toggle
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

update tests
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Dropdown tile created for pairs table
  src/components/DropdownTile.scss
  src/components/DropdrownTile.tsx
  src/components/GroupAction.scss
  src/components/GroupAction.tsx
  src/components/GroupSelector.tsx
  src/components/SearchBar.scss
  src/components/SearchBar.tsx
  src/components/TemplateAction.scss
  src/components/TemplateAction.tsx
  src/components/TemplateViewer.tsx
  src/components/Templates.tsx
  src/components/selectorClient.tsx
Owners: @itwin/viewer-components-reviewers

string and numerical columns separated. UI improved
  src/components/DropdrownTile.tsx
  src/components/ExportModal.tsx
  src/components/GroupAction.scss
  src/components/GroupAction.tsx
  src/components/GroupSelector.tsx
  src/components/Selector.tsx
Owners: @itwin/viewer-components-reviewers

lint
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

bad format
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

lint
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

eslint why
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Update GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Update GroupPropertyAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[ReportingPlatform] ComboBoxes Fixes (#299)
  common/changes/@itwin/grouping-mapping-widget/combobox-fix_2022-07-26-00-37.json
  common/changes/@itwin/reports-config-widget-react/combobox-fix_2022-07-26-00-37.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupPropertyAction.tsx
  packages/itwin/reports-config-widget/package.json
  packages/itwin/reports-config-widget/src/test/ReportMappings.test.tsx
  packages/itwin/reports-config-widget/src/widget/components/Extraction.scss
  packages/itwin/reports-config-widget/src/widget/components/Extraction.tsx
  packages/itwin/reports-config-widget/src/widget/components/ReportsContainer.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/HZ-visibilty_2022-07-08-20-07.json
  common/changes/@itwin/grouping-mapping-widget/combobox-fix_2022-07-26-00-37.json
  common/changes/@itwin/measure-tools-react/bugfix-measureLocationDynamicFlag_2022-07-19-23-51.json
  common/changes/@itwin/reports-config-widget-react/combobox-fix_2022-07-26-00-37.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
  packages/itwin/reports-config-widget/CHANGELOG.json
  packages/itwin/reports-config-widget/CHANGELOG.md
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

EC3 widget improved. Template saving fixed
  src/components/DropdrownTile.tsx
  src/components/GroupAction.scss
  src/components/GroupAction.tsx
  src/components/TemplateActionPanel.tsx
  src/components/TemplateMenu.tsx
  src/components/Templates.tsx
  src/components/selectorClient.tsx
  src/components/utils.scss
  src/components/utils.tsx
Owners: @itwin/viewer-components-reviewers

Updated to use filtered property grid
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

custom label added. Field validation added, fixed group saving
  src/components/DropdrownTile.tsx
  src/components/GroupAction.tsx
  src/components/GroupSelector.tsx
  src/components/ReportConfirmModal.tsx
  src/components/Reports.tsx
  src/components/Selector.tsx
  src/components/TemplateAction.tsx
  src/components/TemplateMenu.tsx
  src/components/TemplateViewer.tsx
  src/components/Templates.tsx
  src/components/hooks/useValidator.ts
Owners: @itwin/viewer-components-reviewers

Temporarily fix an oversight in core-geometry
  packages/itwin/measure-tools/src/measurements/DistanceMeasurement.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Rush change
  common/changes/@itwin/measure-tools-react/bugfix-distanceMeasurementRay3d_2022-08-03-03-43.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

missing dep
  common/config/rush/pnpm-lock.yaml
  packages/itwin/reports-config-widget/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

Create missing-dep_2022-08-03-06-22.json
  common/changes/@itwin/reports-config-widget-react/missing-dep_2022-08-03-06-22.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @bingjiez, @Guillar1, @MindaugasButkus

searching added for templates
  src/components/TemplateMenu.tsx
  src/components/Templates.tsx
Owners: @itwin/viewer-components-reviewers

unused variables and references removed
  src/components/GroupAction.tsx
  src/components/ReportConfirmModal.tsx
  src/components/TemplateMenu.tsx
  src/components/Templates.tsx
Owners: @itwin/viewer-components-reviewers

material selections are unique. TemplateMenu buttons moved down. Naming changed
  src/components/GroupAction.tsx
  src/components/TemplateMenu.tsx
Owners: @itwin/viewer-components-reviewers

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
