Repository iTwin/viewer-components-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate, @simnorm, @a-gagnon, @bsy-nicholasw, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @JValiunas, @DanishMehmood-bit, @mdastous-bentley, @michaelbelousov, @AntonAI, @jpferrara, @adamjhickey

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@itwin/property-grid-react  @itwin/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse
/common/changes/@itwin/tree-widget-react  @itwin/viewer-components-reviewers @JoeZman @diegopinate @aruniverse

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@itwin/measure-tools-react  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus
/common/changes/@itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @Guillar1 @bingjiez @MindaugasButkus

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/one-click-lca-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus
/common/changes/@itwin/reports-config-widget-react  @itwin/viewer-components-reviewers @arnobmallickbsw @bingjiez @Guillar1 @MindaugasButkus

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit
/common/changes/@itwin/breakdown-trees-react  @itwin/viewer-components-reviewers @JValiunas @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/common/changes/@itwin/geo-tools-react  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov
/common/changes/@itwin/imodel-react-hooks  @itwin/viewer-components-reviewers @michaelbelousov

/packages/itwin/infrastructure-iot  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey
/common/changes/@itwin/infrastructure-iot-react  @itwin/viewer-components-reviewers @AntonAI @jpferrara @adamjhickey

[property-grid] Replace deprecated Table from core with MenuItem from itwinui-react (#283)
  common/changes/@itwin/property-grid-react/leck-property-grid_2022-06-22-19-35.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/property-grid/package.json
  packages/itwin/property-grid/src/components/ElementList.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Bump versions [skip ci]
  common/changes/@itwin/property-grid-react/leck-property-grid_2022-06-22-19-35.json
  packages/itwin/property-grid/CHANGELOG.json
  packages/itwin/property-grid/CHANGELOG.md
  packages/itwin/property-grid/package.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Delete mindaugas-expose-formula-datatype-resolver_2022-06-21-11-21.json
  common/changes/@itwin/grouping-mapping-widget/mindaugas-expose-formula-datatype-resolver_2022-06-21-11-21.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Delete token-callback_2022-06-21-01-21.json
  common/changes/@itwin/grouping-mapping-widget/token-callback_2022-06-21-01-21.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Delete fix-property-grid-frontstage-refresh_2022-06-23-15-15.json
  common/changes/@itwin/property-grid-react/fix-property-grid-frontstage-refresh_2022-06-23-15-15.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Add ancestor navigation to Property Grid
  common/config/rush/pnpm-lock.yaml
  packages/itwin/property-grid/package.json
  packages/itwin/property-grid/public/locales/en/PropertyGrid.json
  packages/itwin/property-grid/src/PropertyGridManager.ts
  packages/itwin/property-grid/src/components/ElementList.scss
  packages/itwin/property-grid/src/components/ElementList.tsx
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.scss
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.scss
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
  packages/itwin/property-grid/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update
  common/changes/@itwin/property-grid-react/Property-grid-ancestor_2022-06-30-21-29.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update
  packages/itwin/property-grid/src/PropertyGridManager.ts
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
  packages/itwin/property-grid/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update Property-grid-ancestor_2022-06-30-21-29.json
  common/changes/@itwin/property-grid-react/Property-grid-ancestor_2022-06-30-21-29.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

appease linter
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Property-grid-ancestor (#290)
  common/changes/@itwin/property-grid-react/Property-grid-ancestor_2022-06-30-21-29.json
  common/config/rush/pnpm-lock.yaml
  packages/itwin/property-grid/package.json
  packages/itwin/property-grid/public/locales/en/PropertyGrid.json
  packages/itwin/property-grid/src/PropertyGridManager.ts
  packages/itwin/property-grid/src/components/ElementList.scss
  packages/itwin/property-grid/src/components/ElementList.tsx
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.scss
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
  packages/itwin/property-grid/src/components/PropertyGrid.scss
  packages/itwin/property-grid/src/components/PropertyGrid.tsx
  packages/itwin/property-grid/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Bump versions [skip ci]
  common/changes/@itwin/property-grid-react/Property-grid-ancestor_2022-06-30-21-29.json
  packages/itwin/property-grid/CHANGELOG.json
  packages/itwin/property-grid/CHANGELOG.md
  packages/itwin/property-grid/package.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

fixed wrong prefix on start
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

removed selection from query keywords
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

changes
  common/changes/@itwin/grouping-mapping-widget/query-keywords_2022-07-01-23-01.json
  common/changes/@itwin/grouping-mapping-widget/query-keywords_2022-07-01-23-02.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Display down navigation button
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Update
  common/changes/@itwin/property-grid-react/Property-grid-navigation_2022-07-07-20-19.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Property grid navigation (#292)
  common/changes/@itwin/property-grid-react/Property-grid-navigation_2022-07-07-20-19.json
  packages/itwin/property-grid/src/components/MultiElementPropertyGrid.tsx
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

Bump versions [skip ci]
  common/changes/@itwin/property-grid-react/Property-grid-navigation_2022-07-07-20-19.json
  packages/itwin/property-grid/CHANGELOG.json
  packages/itwin/property-grid/CHANGELOG.md
  packages/itwin/property-grid/package.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @aruniverse, @diegopinate

add color legend for groups
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush change
  common/changes/@itwin/grouping-mapping-widget/HZ-visibilty_2022-07-08-20-07.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

reorganize
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/MappingClientContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

lint
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

more lint >.>
  packages/itwin/grouping-mapping-widget/src/widget/components/context/MappingClientContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

[Grouping&Mapping] query keywords no longer listens to selection and env fix (#291)
  common/changes/@itwin/grouping-mapping-widget/query-keywords_2022-07-01-23-01.json
  common/changes/@itwin/grouping-mapping-widget/query-keywords_2022-07-01-23-02.json
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupingMapping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/context/MappingClientContext.ts
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

groups are ordered by name
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

rush change
  common/changes/@itwin/grouping-mapping-widget/group_ordering_by_name_2022-07-13-10-54.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

Rework measure location. add tool settings
  packages/itwin/measure-tools/public/locales/en/MeasureTools.json
  packages/itwin/measure-tools/src/api/MeasurementTool.ts
  packages/itwin/measure-tools/src/measurements/LocationMeasurement.ts
  packages/itwin/measure-tools/src/test/measure-tools/LocationMeasurement.test.ts
  packages/itwin/measure-tools/src/toolmodels/MeasureLocationToolModel.ts
  packages/itwin/measure-tools/src/tools/MeasureLocationTool.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change
  common/changes/@itwin/measure-tools-react/master_2022-07-18-00-44.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Dynamic Location Measurement Tool (#289)
  common/changes/@itwin/measure-tools-react/master_2022-07-18-00-44.json
  packages/itwin/measure-tools/public/locales/en/MeasureTools.json
  packages/itwin/measure-tools/src/measurements/LocationMeasurement.ts
  packages/itwin/measure-tools/src/test/measure-tools/LocationMeasurement.test.ts
  packages/itwin/measure-tools/src/toolmodels/MeasureLocationToolModel.ts
  packages/itwin/measure-tools/src/tools/MeasureLocationTool.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Bump versions [skip ci]
  common/changes/@itwin/grouping-mapping-widget/query-keywords_2022-07-01-23-01.json
  common/changes/@itwin/grouping-mapping-widget/query-keywords_2022-07-01-23-02.json
  common/changes/@itwin/measure-tools-react/master_2022-07-18-00-44.json
  packages/itwin/breakdown-trees/CHANGELOG.json
  packages/itwin/breakdown-trees/CHANGELOG.md
  packages/itwin/breakdown-trees/package.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.json
  packages/itwin/grouping-mapping-widget/CHANGELOG.md
  packages/itwin/grouping-mapping-widget/package.json
  packages/itwin/measure-tools/CHANGELOG.json
  packages/itwin/measure-tools/CHANGELOG.md
  packages/itwin/measure-tools/package.json
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus, @simnorm, @a-gagnon, @bsy-nicholasw, @JValiunas, @DanishMehmood-bit

Update model/category search bar
  common/config/rush/pnpm-lock.yaml
  packages/itwin/tree-widget/package.json
  packages/itwin/tree-widget/public/locales/en/TreeWidget.json
  packages/itwin/tree-widget/src/components/IconButton.scss
  packages/itwin/tree-widget/src/components/IconButton.tsx
  packages/itwin/tree-widget/src/components/TreeWidgetComponent.scss
  packages/itwin/tree-widget/src/components/TreeWidgetUiItemsProvider.tsx
  packages/itwin/tree-widget/src/components/header/TreeHeader.scss
  packages/itwin/tree-widget/src/components/header/TreeHeader.tsx
  packages/itwin/tree-widget/src/components/search-bar/Popup.scss
  packages/itwin/tree-widget/src/components/search-bar/Popup.tsx
  packages/itwin/tree-widget/src/components/search-bar/SearchBar.scss
  packages/itwin/tree-widget/src/components/search-bar/SearchBar.tsx
  packages/itwin/tree-widget/src/components/search-bar/SearchBox.scss
  packages/itwin/tree-widget/src/components/search-bar/SearchBox.tsx
  packages/itwin/tree-widget/src/components/trees/CategoriesTree.scss
  packages/itwin/tree-widget/src/components/trees/CategoriesTree.tsx
  packages/itwin/tree-widget/src/components/trees/ModelsTree.scss
  packages/itwin/tree-widget/src/components/trees/ModelsTree.tsx
  packages/itwin/tree-widget/src/tree-widget-react.ts
  packages/itwin/tree-widget/src/types.ts
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Update
  common/changes/@itwin/tree-widget-react/Tree-search-bar_2022-07-19-18-04.json
Owners: @itwin/viewer-components-reviewers, @JoeZman, @diegopinate, @aruniverse

Fix message being outputted too often. Fix initial tool setting value obtained after the tool settings are created.
  packages/itwin/measure-tools/src/tools/MeasureLocationTool.ts
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

rush change
  common/changes/@itwin/measure-tools-react/bugfix-measureLocationDynamicFlag_2022-07-19-23-51.json
Owners: @itwin/viewer-components-reviewers, @simnorm, @a-gagnon, @bsy-nicholasw

Group ordering by name (#294)
  common/changes/@itwin/grouping-mapping-widget/group_ordering_by_name_2022-07-13-10-54.json
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus

refactor add/modify group
  packages/itwin/grouping-mapping-widget/src/widget/components/GroupAction.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.scss
  packages/itwin/grouping-mapping-widget/src/widget/components/Grouping.tsx
  packages/itwin/grouping-mapping-widget/src/widget/components/ManualQueryComponent.tsx
Owners: @itwin/viewer-components-reviewers, @arnobmallickbsw, @Guillar1, @bingjiez, @MindaugasButkus
